<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  </head>
  <body>
    <app>
      {{#each components}}
      <div>
        {{{this.html}}}
      </div>
      {{/each}}

      {{#each logic.functions}}
      <div hidden v-text="{{this.name}}"></div>
      {{/each}}
    </app>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script>
      Vue.config.debug = true

      var vm = new Vue({
        el: 'app',
        data: {
          {{#each components}}
          {{@key}}: {{{json this.properties}}},
          {{/each}}
        },
        computed: {
          {{#each logic.functions}}
          {{this.name}}: {{{this.js}}},
          {{/each}}
          // computed_1: function() {
          //   return this.component_2.properties.name.value + " and " + this.component_3.properties.name.value
          // }
        },
        methods: {
          {{#each logic.methods}}
          {{@key}}: {{{this.js}}},
          {{/each}}
          // method_1: function() {
          //   this.component_4.properties.name.value = this.computed_1
          // }
        },
      })
    </script>

  </body>
</html>
