@import "palette.scss";

// Redefine materializecss variables
$secondary-color: $accent-color;

// Define custom variables
$top-bar-height: 64px;

$component-bar-width: 200px;
$properties-bar-width: 250px;

$footer-bar-height: 20px;
