'menu': [
  {
    label: '&File'
    submenu: [
      { label: 'New &Window' }
      { label: '&New File' }
      { label: '&Open File...' }
      { label: 'Open F&older...' }
    ]
  }
  {
    label: '&View'
    submenu: [
      { label: '&Reload', command: 'window:reload', accelerator: 'CommandOrControl+Alt+R' }
    ]
  }
]

# 'context-menu':
#   'atom-text-editor, .overlayer': [
#     {label: 'Undo', command: 'core:undo'}
#     {label: 'Redo', command: 'core:redo'}
#     {type: 'separator'}
#     {label: 'Cut', command: 'core:cut'}
#     {label: 'Copy', command: 'core:copy'}
#     {label: 'Paste', command: 'core:paste'}
#     {label: 'Delete', command: 'core:delete'}
#     {label: 'Select All', command: 'core:select-all'}
#   ]
